<!DOCTYPE html>
<html>
  <head>
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","screen","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware","register"];analytics.factory=function(e){return function(){if(window.analytics.initialized)return window.analytics[e].apply(window.analytics,arguments);var i=Array.prototype.slice.call(arguments);if(["track","screen","alias","group","page","identify"].indexOf(e)>-1){var c=document.querySelector("link[rel='canonical']");i.push({__t:"bpc",c:c&&c.getAttribute("href")||void 0,p:location.pathname,u:location.href,s:location.search,t:document.title,r:document.referrer})}i.unshift(e);analytics.push(i);return analytics}};for(var i=0;i<analytics.methods.length;i++){var key=analytics.methods[i];analytics[key]=analytics.factory(key)}analytics.load=function(key,i){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=i};analytics._writeKey="D3U7BsAD5HvPSGQTZuVwu9TughAGMhGh";;analytics.SNIPPET_VERSION="5.2.0";
      analytics.load("D3U7BsAD5HvPSGQTZuVwu9TughAGMhGh");
      analytics.page();
      }}();
    </script>
     <meta property="og:title" content="Pinspo" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="An image-based social media app inspired by Pinterest.This website gives users an enjoyable experience by mainly providing visuals that are visually pleasing."
     />
     <meta property="og:url"
       content="https://pinspo.herokuapp.com/#/"
     />
    <title>Pinspo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
    </style>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('favicon.png') %>";
      window.splash1URL = "<%= image_url('home_interior.jpg') %>";
      window.splash2URL = "<%= image_url('outfit_3.jpg') %>";
      window.splash3URL = "<%= image_url('recipe_1.jpg') %>";
      window.splash4URL = "<%= image_url('travel_3.jpg') %>";
      window.splash5URL = "<%= image_url('wedding_1.jpg') %>";
      window.splash6URL = "<%= image_url('wall_decor.png') %>";
      window.splash7URL = "<%= image_url('recipe_2.jpg') %>";
      window.splash8URL = "<%= image_url('travel_4.jpg') %>";
      window.splash9URL = "<%= image_url('outfit_4.jpg') %>";
      window.splash10URL = "<%= image_url('outfit_1.jpg') %>";
      window.splash11URL = "<%= image_url('closet_organization.jpg') %>";
      window.splash12URL = "<%= image_url('desk_1.jpg') %>";
      window.splash13URL = "<%= image_url('outfit_2.jpg') %>";
      window.splash14URL = "<%= image_url('travel_pack.jpg') %>";
    </script>

    <%= favicon_link_tag 'favicon.png' %>
    <% if current_user %>
      <script type="text/javascript">
          window.currentUser = {
            "id": <%= current_user.id %>,
            "username" : "<%= current_user.username %>",
            "email": "<%= current_user.email %>"
          }
      </script>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
